<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <js>
                <defer_enabled>1</defer_enabled>
                <patterns id="sga">
                    <requirejs><![CDATA[@^\s*require\s*\(\s*\[@s]]></requirejs>
                    <requireconfig><![CDATA[@^\s*require\.config\s*\(@s]]></requireconfig>
                </patterns>
            </js>
        </dev>
    </default>
</config>
